* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;  
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.75px;

    background-color: #171717;
    color: #f2f2f2;
    height: calc(100vh);
    overflow: hidden;

    form {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        padding: 45px;
        height: fit-content;
        max-width: 500px;
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #171717;
        // outline: 2px dashed #252525;
        outline-offset: 25px;

        img {
            padding-bottom: 10px;
        }

        .line {
            height: 1px;
            background-color: #707070;
            width: 60%;
            border-radius: 100;
            animation-name: line_animation;
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        @keyframes line_animation {
            from {
                width: 0%;
            }
            to {
                width: 60%;
            }
        }

        h1 {
            padding-top: 10px;
        }

        span {
            color: red;
            padding-top: 25px;
        }



        input {
            font-size: medium;
            border-radius: 10px;
            background-color: #141414;
            border: 2px solid #252525;
            outline: none;
            color: #f2f2f2;
            padding: 20px;
            width: 100%;
            height: 50px;
            transition: 0.2s;
        }
        input[type="email"] {
            margin-top: 75px;
        }
        input[type="password"] {
            margin-top: 15px;
        }
        input::placeholder {
            color: #505050;
        }
        input:focus {
            border: 2px solid #505050;
        }


        .checkbox {
            padding-top: 25px;
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: left;
            align-items: flex-start;
            float: left;
            text-align: center;
            column-gap: 10px;

            input {
                background-color: #141414;
                padding: 0;

                height: 15px;
                width: 15px;
            }

            p {
                font-size: 14px;
                padding: 0;
                margin: 0;
            }
            
            a {

                cursor: pointer;
            }
        }



        // Submit button
        button {
            cursor: pointer;
            background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
            background-size: 200% auto;
            box-shadow: 0px 0px 14px -7px #f09819;
            border: none;
            border-radius: 50px;
            margin-top: 50px;
            padding: 12.5px;
            width: 100%;
            height: 45px;
            background-color: 55;
            transition: 0.5s;
            color: #171717;
        }
        button:hover {
            background-position: right center;
            color: #171717;
            
        }
        button:active {
            transform: scale(0.975);
        }
        button:disabled {
            cursor: default;
            background: #505050;
            box-shadow: none;
            color: #353535;
        }
        button:disabled:hover {
            color: #353535;
        }
        button:disabled:active {
            transform: scale(1);
        }

        p {
            padding-top: 100px;
            font-size: 14px;
            color: #707070;
            a {
                background: linear-gradient(332deg,#FF512F,#F09819 50%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                cursor: pointer;
            }
        }
    }
}

@media (max-width: 400px) {
    form {
       padding: 25px !important;
    }
}