<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="/static/content/favicon.ico" type="image/x-icon">
    <title>FollowRise - Grow your social media</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/login.css">
</head>
<body>
    <form action="/login" method="post">
        <a href="/">
            <img src="/static/content/logo_converted.svg" alt="">
        </a>
        <div class="line"></div>
        <h1>LOGIN</h1>
        <span>{{ error_msg }}</span>
        <input type="text" placeholder="Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <button type="submit">LOGIN</button>
        <p>Don't have account? <a href="/signup">Sign up</a></p>
    </form>
</body>
</html>